<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Ma bibliothèque</title>
</head>
<body>

<h2>Ma bibliothèque</h2>

<form method="post">
    <input type="text" name="isbn" placeholder="Entrer un ISBN" required>
    <button type="submit">Ajouter le livre</button>
</form>

<hr>

<ul>
{% for b in books %}
    <li>
        {% if b[4] %}
            <img src="{{ b[4] }}" height="90">
        {% endif %}
        <strong>{{ b[2] }}</strong><br>
        <em>{{ b[3] }}</em><br>
        <a href="/favorite/{{ b[0] }}">
            {{ "❤️ Favori" if b[5] else "🤍 Favori" }}
        </a>
    </li>
    <hr>
{% endfor %}
</ul>

<a href="/logout">Déconnexion</a>

</body>
</html>
